<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solaria Restaurant</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="nav">
    <a href="#" class="logo">Solaria</a>
    <a id="hamburger" href="#">☰</a>
    <div class="navbarinner">
    <ul class="nav__list" >
        <li ><a href="/">Home</a></li>
        <li ><a href="#">Favorites</a></li>
        <li ><a href="https://www.instagram.com/pradipta610/">About Us</a></li>
    </ul>
</div>
</div>  
    <nav id="drawer" >
        <ul >
            <li ><a href="/">Home</a></li>
            <li ><a href="#">Favorites</a></li>
            <li ><a href="https://www.instagram.com/pradipta610/">About Us</a></li>
        </ul>
    </nav>
   

<div class="hero">
   <h1>Taste never disappoints </h1>
</div>


<main >
<h1 tabindex="0" id="maincontent">Restaurant</h1>
<div id="card-container">

</div>
</main>
<footer>
<div class="coverfooter">
    <h3 tabindex="0">Copyright © 2020 - Solaria</h3>
</div>  
</footer>
</body>
</html>
